{% extends "layout.html" %}
{% include "header.html" %}
{% block content %}
        <div class="hf-body">
            <div class="hf-categories-container">
                <span>Categorias:</span>
                <div class="hf-categories-group">
                    <div class="hf-category">Entretenimiento</div>
                    <div class="hf-category">Agro</div>
                    <div class="hf-category">Programacion</div>
                </div>
            </div>
            <div class="hf-panel-row">
                <div class="hf-panel-left">
                    <div class="hf-control-panel">
                        <p>Panel de Control:</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#agregarBlog" class="hf-btn empty control-panel">Agregar Blog</button>
                        <button class="hf-btn full control-panel"><img src="/static/assets/User.svg" alt='user-logo'/>Editar perfil de usuario</button>
                        <button class="hf-btn full control-panel"><img src="/static/assets/Salir.svg" alt='logout-logo'/>Salir</button>
                    </div>
                    <div class="hf-panel-about">
                        <p class="hf-title-2">
                            Acerca de...
                        </p>
                        <p class="hf-version">
                            Version 0.0.1
                        </p>
                        <p class="hf-italic-title">
                            Desarrolladores:
                        </p>
                        <p class="hf-italic-small">
                            Hernan Felipe Londoño
                            Juan Felipe Martinez
                            Yian Carlo Garcia
                            Jefry Quejada Torres
                            Alexander Soto
                            Jesus David de Avila
                        </p>
                    </div>
                </div>
                <div class="hf-panel-center">
                    <p class="hf-title">Blogs:</p>
                    <div class="hf-in-container blogs">
                        <div class="hf-scroll-able">
                                <!---->
                                <div class="hf-blog">
                                    <div class="hf-blog-title">
                                        Como crear elementos en HTML
                                    </div>
                                    <div class="hf-blog-desc">
                                        <div class="hf-blog-subtitle">
                                            <span>Ultimo Comentario:</span>
                                            <span>30 Nov. 2020</span>
                                        </div>
                                        <div class="hf-blog-last-comment">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ....
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <div class="hf-blog">
                                    <div class="hf-blog-title">
                                        Patrones de Arquitectura
                                    </div>
                                    <div class="hf-blog-desc">
                                        <div class="hf-blog-subtitle">
                                            <span>Ultimo Comentario:</span>
                                            <span>25 Nov. 2020</span>
                                        </div>
                                        <div class="hf-blog-last-comment">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ....
                                        </div>
                                    </div>
                                </div>
                                <!---->
                                <div class="hf-blog">
                                    <div class="hf-blog-title">
                                        Elementos de Composicion espacial
                                    </div>
                                    <div class="hf-blog-desc">
                                        <div class="hf-blog-subtitle">
                                            <span>Ultimo Comentario:</span>
                                            <span>20 Nov. 2020</span>
                                        </div>
                                        <div class="hf-blog-last-comment">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ....
                                        </div>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
                <div class="hf-panel-right">
                    <div class="hf-mis-blogs">
                        <p class="hf-title">
                            Mis Blogs:
                        </p>
                        <div class="hf-in-container mis-blogs">
                            <p class="hf-hp">Programar en Python ...</p>
                            <p class="hf-hp">Programar en Java ...</p>
                            <p class="hf-hp">HTML ...</p>
                            <p class="hf-hp">Git ...</p>
                        </div>
                    </div>
                    <div class="hf-links-externos">
                        <p class="hf-title">
                            Links Externos:
                        </p>
                        <div class="hf-in-container links-externos">
                            <p class="hf-hp small">Uninorte</p>
                            <p class="hf-hp small">MINTIC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- AGREGAR BLOG -->
        <div class="modal fade" id="agregarBlog"  data-bs-keyboard="true" tabindex="-1" aria-labelledby="agregarBlogLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
                <div style="pointer-events: auto;">
                    <form   id='addBlogForm' method="POST"  class="yc-form">
                        <label  class='yc-label' style="position: relative; font-size: 20px; align-content: center;" for="fname">NUEVO BLOG</label>         
                        <table style="text-shadow: #330033;" class="yc-table">
        
                            <tr style="text-indent: -70px">    <!--FILA-->
                                
                                <td>
                                    <label class='yc-label' for="fname">Nombre del Blog:</label><br>
                                    <Input class='yc-input' style=" color: black;width: 251px; height: 26px; left: 158px; top: 137px; background: #ffffff; border: 1px solid #330033; box-sizing: border-box; border-radius: 20px; text-shadow:#330033;" name="name" Type="text" value="" size=20 maxlength=20>
                                </td>
                                <td>
                                    <label class='yc-label' for="fname">Autor:</label><br>
                                    <Input class='yc-input' style="color: black;position: left; width: 251px; height: 26px; left: 58px; top: 137px; background: #ffffff; border: 1px solid #330033; box-sizing: border-box; border-radius: 20px;" name="Nombre" Type="text" value="" size=20 maxlength=20>
                                </td>
                            </tr>
                                
                            <tr style="text-indent: -70px">
                                <td>
                                    <label class='yc-label' for="fname">Temática:</label><br>
                                    <Input class='yc-input' style="color: black;width: 251px; height: 26px; left: 58px;background: #ffffff; border: 1px solid #330033; box-sizing: border-box; border-radius: 20px;"  name="subject" Type="text" value="" size=20 maxlength=20>
                                </td>
                                <td>
                                    <label class='yc-label' for="fname">Url:</label><br>
                                    <Input class='yc-input' style="color: black; position: left; width: 251px; height: 26px; left: 58px; top: 137px; background: #ffffff; border: 1px solid #330033; box-sizing: border-box; border-radius: 20px;" name="Nombre" Type="text" value="" size=20 maxlength=20>
                                </td>
                            </tr>
                                <td>
                                    <button class="hf-btn full control-panel">Crear Blog</button>
                                    <!-- <Input class='yc-input' style="color: white;width: 166px; font-weight: 700 ; height: 30px; background-color: #330033; border-radius: 15px" class="centrar" Type="submit" Name = "Enviar" value="Crear Blog"> -->
                                </td>
                                <td>
                                    <button class="hf-btn full control-panel">Cancelar</button>
                                    <!-- <Input class='yc-input' style="color: white;width: 166px; font-weight: 700; height: 30px; background-color: #330033; border-radius: 15px" class="centrar" Type="reset" Name="Nombre2" value="Cancelar"> -->
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        



        <!-- AGREGAR COMENTARIO -->
        <!-- <div class="hf-comment-form">
            <p class="hf-title">Comentar:</p>
             <form>
                     <textarea class="hf-txtarea" type="text" placeholder="Escribe un comentario" cols="15"></textarea>
                 <button type="submit" class="hf-btn full control-panel">Comentar</button>
             </form>
        </div> -->

{% endblock %}