{% extends "layout.html" %}
{% include "header.html" %}
{% block content %}
        <div class="hf-body">
            <div class="hf-categories-container">
                <span>Categorias:</span>
                <div class="hf-categories-group">
                    <div class="hf-category">Entretenimiento</div>
                    <div class="hf-category">Agro</div>
                    <div class="hf-category">Programacion</div>
                </div>
            </div>
            <div class="hf-panel-row">
                <div class="hf-panel-left">
                    <div class="hf-control-panel">
                        <p>Panel de Control:</p>
                        <button type="button" data-bs-toggle="modal" data-bs-target="#agregarBlog" class="hf-btn empty control-panel">Agregar Blog</button>
                        <button class="hf-btn full control-panel"><img src="/static/assets/User.svg" alt='user-logo'/>Editar perfil de usuario</button>
                        <button id="logoutbutton" class="hf-btn full control-panel"><img src="/static/assets/Salir.svg" alt='logout-logo'/>Salir</button>
                    </div>
                    <div class="hf-panel-about">
                        <p class="hf-title-2">
                            Acerca de...
                        </p>
                        <p class="hf-version">
                            Version 0.0.1
                        </p>
                        <p class="hf-italic-title">
                            Desarrolladores:
                        </p>
                        <p class="hf-italic-small">
                            Hernan Felipe Londoño
                            Juan Felipe Martinez
                            Yian Carlo Garcia
                            Jefry Quejada Torres
                            Alexander Soto
                            Jesus David de Avila
                        </p>
                    </div>
                </div>
                <div class="hf-panel-center">
                    <p class="hf-title">Blogs:</p>
                    <div class="hf-in-container blogs">
                        <div class="hf-scroll-able" id='blogsContainer'>
                                <!--BLOGS-->
                        </div>
                    </div>
                </div>
                <div class="hf-panel-right">
                    <div class="hf-mis-blogs">
                        <p class="hf-title">
                            Mis Blogs:
                        </p>
                        <div class="hf-in-container mis-blogs">
                            <p class="hf-hp">Programar en Python ...</p>
                            <p class="hf-hp">Programar en Java ...</p>
                            <p class="hf-hp">HTML ...</p>
                            <p class="hf-hp">Git ...</p>
                        </div>
                    </div>
                    <div class="hf-links-externos">
                        <p class="hf-title">
                            Links Externos:
                        </p>
                        <div class="hf-in-container links-externos">
                            <p class="hf-hp small">Uninorte</p>
                            <p class="hf-hp small">MINTIC</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- AGREGAR BLOG -->
        <div class="modal fade" id="agregarBlog"  data-bs-keyboard="true" tabindex="-1" aria-labelledby="agregarBlogLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
                <div style="pointer-events: auto;" class="hf-login-form">
                    <p class="hf-title">Nuevo Blog</p>         
                    <form   id='addBlogForm' method="POST">
                        <div class="hf-input-group">
                            <label>Nombre del Blog:</label>
                            <Input Type="text" class="hf-text-input bd">
                        </div>
                        <div class="hf-input-group">
                            <label>Categoria:</label>
                            <Input Type="text" class="hf-text-input bd"/>
                        </div>
                        <div class="hf-input-group">
                            <textarea rows="10" class="hf-text-input bd textarea" placeholder="Escribe tu blog"></textarea>
                        </div>
                        <button type="submit" class="hf-btn full control-panel">Crear Blog</button>  
                    </form>
                </div>
            </div>
        </div>
        



        <!-- AGREGAR COMENTARIO -->
        <!-- <div class="hf-comment-form">
            <p class="hf-title">Comentar:</p>
             <form>
                     <textarea class="hf-txtarea" type="text" placeholder="Escribe un comentario" cols="15"></textarea>
                 <button type="submit" class="hf-btn full control-panel">Comentar</button>
             </form>
        </div> -->

{% endblock %}